/* base */

/* header */

:root {
    --text-color: #ffffff;
    --page-background: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:var(--page-background);
}

.header {
    background-color:var(--page-background);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

}
.header__content {

}
.header__top {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 6px 0;
    

}
.link-login {
    color: aliceblue;

}
.header__bottom {
    background-image: url(../img/stone_bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6px 0 ;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    

}
.logo__wrapper-picture {
    max-width: 250px;
}
.logo__img {
    width: 100%;
    object-fit: contain;
}
.menu {
    display: flex;
    gap: 16px;
}

.menu__item {

}
.link-other-page {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.link-other-page__wrapper-picture {
    width: 100px;
    height: 100px;
}
.link-other-page__picture {
    width: 100%;
    object-fit: contain;

}
.link-other-page__text {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

/* MAIN - HERO тут */

.main {

}

.hero {
    padding: 30px 0;
}

.container {
}
.hero__content {
    position: relative;
    height: 75vh;
    background:linear-gradient(0deg,rgba(255, 255, 255, 0) 30%, rgba(186, 186, 186, 0.3) 100%), url(../img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    text-shadow: 3px 3px 3px #000;
    width: 100%;
    padding: 0 40px;
    font-family: 'Pixelify Sans', sans-serif;

}
.main-title {
    font-size: 52px;
    font-family: 'Pixelify Sans', sans-serif;
}
.hero__description {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

/* адаптив */

@media(max-width: 1024px) {
    .link-other-page__text {
        font-weight: 500;
        font-size: 17px;
    }
    .link-other-page {
        flex-direction: column;
        gap: 16px;
    }
    .link-other-page__wrapper-picture {
        width:  70px;
        height: 70px;
    }
    .header__navigation {
        flex-direction: column;
    }

}

@media(max-width: 768px) {
    .hero__text {
        padding: 0 20px;
    }
    .hero__description {
        font-size: 18px;
    }
}