/* base */
/* header */

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color:#10421d;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

}
.header__content {

}
.header__top {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 6px 0;
    

}
.link-login {
    color: aliceblue;

}
.header__bottom {
    background-image: url(../img/stone_bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6px 0 ;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    

}
.logo__wrapper-picture {
    max-width: 250px;
}
.logo__img {
    width: 100%;
    object-fit: contain;
}
.menu {
    display: flex;
    gap: 16px;
}

.menu__item {

}
.link-other-page {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.link-other-page__wrapper-picture {
    width: 100px;
    height: 100px;
}
.link-other-page__picture {
    width: 100%;
    object-fit: contain;

}
.link-other-page__text {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

/* адаптив */

@media(max-width: 1024px) {
    .link-other-page__text {
        font-weight: 500;
        font-size: 17px;
    }
    .link-other-page {
        flex-direction: column;
        gap: 16px;
    }
    .link-other-page__wrapper-picture {
        width:  70px;
        height: 70px;
    }
    .header__navigation {
        flex-direction: column;
    }

}